<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestCases" parallel="tests">
    <listeners>
        <listener class-name="listeners.TestListeners"/>
    </listeners>
    <test name="TestCases" parallel="classes" >
       <classes >
           <class name="ui.AdminLoginTest" />
           <class name="ui.CreateAccountTest" />
           <class name="ui.LoginPageTest" />
<!--           <class name="ui.DepositMoneyTest">-->
<!--               <methods>-->
<!--                   <exclude name="depositMoneyIntoDeactivatedAccount"/>-->
<!--               </methods>-->
<!--           </class>-->
           <class name="ui.HomePageTest" />
           <class name="ui.SignUpPageTest" />
           <class name="ui.WithdrawMoneyTest"/>
       </classes>
    </test>

    <test name="deposit">
        <classes>
            <class name="ui.DepositMoneyTest"/>
        </classes>
    </test>

    <test name="CucumberTests">
        <classes>
            <class name="runners.TestRunners" />
        </classes>
    </test>

    <test name="ApiTestCases" parallel="classes">
        <classes>
            <class name="api.AccountsApiTest" />
            <class name="api.DashboardApiTest" />
            <class name="api.DepositMoneyApiTest" />
            <class name="api.LoginApiTest" />
            <class name="api.TransactionHistoryApiTest"/>
        </classes>
    </test>


</suite>