<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
    <RollingFile name="RollingFileLogger"
                 fileName="${LOG_DIR}/app.log"
                 filePattern="${LOG_DIR}/app-%d{dd-MM-yyyy}-%i.log.gz">
        <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <SizeBasedTriggeringPolicy size="3MB"/>
        </Policies>
        <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFileLogger"/>
        </Root>
    </Loggers>
</Configuration>